packages: [
  "aligner"
  "aligner-javascript"
  "aligner-python"
  "atom-beautify"
  "autocomplete-html-entities"
  "autocomplete-python"
  "busy"
  "busy-signal"
  "file-icons"
  "git-plus"
  "highlight-selected"
  "import-sf-mono"
  "intentions"
  "language-cython"
  "language-fortran"
  "language-latex"
  "language-markdown"
  "language-matlab"
  "language-restructuredtext"
  "latextools"
  "linter"
  "linter-just-say-no"
  "linter-markdown"
  "linter-shellcheck"
  "linter-spell"
  "linter-spell-latex"
  "linter-ui-default"
  "linter-write-good"
  "markdown-lists"
  "markdown-table-formatter"
  "merge-conflicts"
  "package-sync"
  "pdf-view"
  "pretty-json"
  "theme-switcher"
  "travis-ci-status"
  "wordcount"
  "Zen"
]
